.hero{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.hero__name{
    display: block;
    font-size: 7rem;
    text-decoration: none;
    animation: zoom 1s ease-in-out 0s infinite alternate;

}

.hero__letter{
    position: relative;
    display: inline-block;
}

.hero__letter:hover{
    filter: brightness(2.5);
}

.hero__letter::before{
    content: var(--letter);
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(0.25rem);
    transform: scale(1.125);
}

.hero__letter::after{
    content: var(--letter);
    position: absolute;
    top: 87.5%;
    left: 0;
    filter: blur(0.0625rem);
    transform: rotateX(137.5deg);
}

.hero__letter:nth-child(1){
    color: #00bef8;
}

.hero__letter:nth-child(2){
    color: #ff0647;
}

.hero__letter:nth-child(3){
    color: #bb00ff;;
}

.hero__letter:nth-child(4){
    color: #f5926b;
}